.square {
    width: 25px;
    height: 25px;
    max-width: 40px;
    max-height: 40px;

    background-color: #FFFFFF;
    border: 1px solid #000000;

    margin: 0;
    display: inline-block;
}

.square:hover {
    background-color: #FF0000 !important;
}

.grid-row {
    height: 25px;
}

.buttons-container {
    margin-top: 10px;
}