html, body {
    margin: 0;
    padding: 0;
}

.picker-container {
    margin: 10px;
}

.square {
    width: 35px;
    height: 35px;
    border: 1px solid #000000;
    display: inline-block;

    margin: 0 6px;
    padding: 0;
}

.grid {
    border: 1px black;
    border-style: solid none none solid;
    background-color: #BFBFBF;
    display: grid;
}

.builder-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: #36E0D2;
    border: 2px solid black;
    border-radius: 3%;
    
    margin: 40px auto;
    width: 80%;
    height: 90vh;
}

.building {
    border: 1px black;
    border-style: none solid solid none;
    pointer-events: none;
}

/* .buttons-container {
    margin-top: 10px;
} */

button {
    margin: 0 5px;
}