.square {
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    border: 1px solid #000000;

    margin: 0;
    padding: 0;
}

.grid {
    border: 1px black;
    border-style: solid none none solid;
    display: grid;
}

/* .square:hover {
    background-color: #FF0000 !important;
} */

/* .grid-row {
    height: 15px;
} */

.buttons-container {
    margin-top: 10px;
}